.form{
    height: 200px;
    width: 500px;
    text-align: center;
    border: 1px solid black;
    margin-top:300px;
    flex-wrap: wrap;
    margin-left: 600px;
    margin-right: 200px;
    background-color: beige;
    padding: auto;
    
    
}

body{
    background-color: beige;
    
    
}